#confirmation {
  display: none;
}

ul {
    list-style: none;
}
#name {
  font-weight: bold;
}

#appointmentDate {
  font-weight: bold;
}
#appointmentTime {
  font-weight: bold;
}

li {
  font-style: italic;
}
